USE [master]
GO
/****** Object:  Database [Student]    Script Date: 16.01.2023 9:29:07 ******/
CREATE DATABASE [Student]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Student', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Student.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Student_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Student_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Student].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Student]
GO
/****** Object:  Table [dbo].[Finals]    Script Date: 16.01.2023 9:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Finals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupId] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](60) NOT NULL,
	[Gender] [nvarchar](7) NOT NULL,
	[MaritalStatus] [nvarchar](50) NULL,
	[Exam1] [int] NULL,
	[Exam2] [int] NULL,
	[Exam3] [int] NULL,
	[Exam4] [int] NULL,
	[Exam5] [int] NULL,
 CONSTRAINT [PK_Finals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Finals] ON 

INSERT [dbo].[Finals] ([Id], [GroupId], [FullName], [Gender], [MaritalStatus], [Exam1], [Exam2], [Exam3], [Exam4], [Exam5]) VALUES (1, N'ВТ-11', N'Иванов Иван Иванович', N'Мужской', N'Замужем/женат', 2, 3, 3, 4, 3)
INSERT [dbo].[Finals] ([Id], [GroupId], [FullName], [Gender], [MaritalStatus], [Exam1], [Exam2], [Exam3], [Exam4], [Exam5]) VALUES (2, N'ВТ-12', N'Александр Сергеевич Пушкин', N'Мужской', N'Замужем/женат', 5, 5, 4, 3, 5)
INSERT [dbo].[Finals] ([Id], [GroupId], [FullName], [Gender], [MaritalStatus], [Exam1], [Exam2], [Exam3], [Exam4], [Exam5]) VALUES (3, N'ВТ-13', N'Фамилия Имя Отчество', N'Ламинат', N'Не замужем/холост', 5, 5, 5, 5, 5)
SET IDENTITY_INSERT [dbo].[Finals] OFF
GO
USE [master]
GO
